/* Reset all of the defaults to 0 so that you can write your own css */

/* DO NOT RELY ON BROWSER DEFAULTS */

* {
    border:none;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-size:20px;
    background-color:black;
    color:white;
    font-family:helvetica, sans-serif;
    background-image: url("..//img/pencils_background.jpg");
    background-size:auto;
    
}

header > h1 {
    font-size: 90px;
    text-align:center;
    text-decoration-line:underline;
    color: rgb(254, 255, 173);
    padding:20px;
    margin:10px;
    margin-top:100px;
    background-color: rgb(99, 49, 0);
    padding: 110px;
}

main {
    text-align:center
}

article {
    border-radius:10px;
    border-style:dashed;
    border-color:white;

    border:4px solid gray;

    display:inline-block;
    margin-left:12px;
    margin-right:12px;
    margin-top:10px;
    margin-bottom:10px;

    /* this is the shorter code for the margin  */
    /* Top, Right, Bottom, Left  */
    margin: 10px 12px 10px 12px;  

    text-align:left;
}

article > h2 {
    color:gray;
    padding:4px 8px;
}

ul {
    list-style-type:none;  /* to remove the DOT  */
}


{
display:inline-block;

margin-left:12px;
margin-right:12px;
}


article > h2 {
    color: gray;
    padding:50px 8px;
}



ul {
    list-style-type:none;
}


article:first-of-type {
    border-color:rgb(209, 0, 171);
}

article:first-of-type h2 {
    border-color:rgb(255, 255, 255);
}

#todo li:nth-child(odd) {
    background-color:rgba(209, 0, 171, 0.308);
    padding: 9px;  
}

#inprogress { border-color:rgb(234, 255, 0); }
#inprogress h2 { color:red; }

#done { border-color:green; }
#done h2 {  color:green; }

ul li {
    padding:6px 8px;
    text-transform:uppercase;
}

a:hover {
    color:green;
    text-decoration:underline overline;
    background-color: rgb(251, 192, 42);
    padding-right:100px;

}



#inprogress li:nth-child(odd) {
    background-color:rgba(255,0,0,0.2);
}

#done li:nth-child(odd) {
    background-color:rgba(0,255,0,0.2);
}


#todos { 
    font-size:50px;
    font-style: italic;
    color:brown
}

#inprogress2 { 
    font-size:44px;
    font-family:'Courier New', Courier, monospace;
    color:rgb(19, 119, 119);
}

#done2 { 
    font-size:46px;
    font-family:'Times New Roman', Times, serif;

}


/* RESPONSIVE CODE */
article {
    width:00%;
    margin:10 0px;
}

main {
    margin: 0 12px;
}

@media(min-width:960px) {
    article {
        width:25%;
        margin:10px 12px;
    }
    main {margin:0;}
}

input[type="checkbox"] {
    margin-right: 30px;
    margin-left:20px;
    width: 20px;
    height: 20px;    
}
  
  label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;

  }
  

  /* IN PROGRESS */

  #task1 + label {
    color: black;
  }
  
  #task1:checked + label {
    color: red;
  }

  #task2 + label {
    color: black;
  }
  
  #task2:checked + label {
    color: rgb(27, 170, 2);
  }

  #task3 + label {
    color: black;
  }
  
  #task3:checked + label {
    color: rgb(2, 117, 170);
  }
  
  #task4 + label {
    color: black;
  }
  
  #task4:checked + label {
    color: rgb(168, 45, 190);
  }

  #task5 + label {
    color: black;
  }
  
  #task5:checked + label {
    color: rgb(255, 255, 255);
  }

  #task6 + label {
    color: black;
  }
  
  #task6:checked + label {
    color: rgb(255, 213, 3);
  }

/* DONE */

#task1a + label {
    color: black;
  }
  
  #task1a:checked + label {
    color: rgb(0, 255, 179);

    
  }

  #task2b + label {
    color: black;
  }
  
  #task2b:checked + label {
    color: rgb(200, 255, 0);
  }

  #task3c + label {
    color: black;
  }
  
  #task3c:checked + label {
    color: rgb(253, 0, 67);
  }
  
  #task4d + label {
    color: black;
  }
  
  #task4d:checked + label {
    color: rgb(0, 129, 194);
  }

  #task5e + label {
    color: black;
  }
  
  #task5e:checked + label {
    color: rgb(160, 2, 2);
  }

  #task6f + label {
    color: black;
  }
  
  #task6f:checked + label {
    color: rgb(255, 255, 255);
  }



  #done input[type='checkbox']:checked + label {
    color:red;
    text-decoration: lavender;
  }

  #done input[type='checkbox']:checked + label::after {
    content: "\2713";
    color:green;
    margin-left:10px;
  }